html {
  color: yellow;
  background: #FFF;
  //font-family: 'Microsoft YaHei UI', Helvetica;
  font: {
    family: Microsoft YaHei UI, Helvetica, Arial, sans-serif;
    size: 16px;
  }
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: border-box;
}
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, input, p, th, td {
  margin: 0;
  padding: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

img {
  border: 0
}

ol, ul {
  list-style: none
}


h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal
}

*:before, *:after {
  content: ''
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%
}
